article {
  border-bottom: 1px solid lightgray;
  margin: 1rem 0 0 0;
  width: 50%;
  padding-bottom: 0.5rem;
}

article h2 {
  display: inline-block;
  color: #6d6e71;
  font-family: 'Roboto Slab', serif;
  width: 80%;
  margin: 0;
  font-size: 1.5rem;
}

article p {
  color: #939598;
  width: 100%;
}

.deleteBtn,
.upVoteBtn,
.downVoteBtn {
  float: right;
  border: none;
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
}