.quality-filter {
  font-size: 2rem;
  vertical-align: center;
  display: flex;
  width: 50%;
  margin: 0.5rem 0 0 0;
}

.quality-filter__select {
  font-size: 1.5rem;
  margin: 0 0 0 0.5rem;
  cursor: pointer;
}